<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Flying_Test.Properties.Settings.MobilityPlatform_KenH_OntwConnectionString"
            connectionString="Data Source=SRV-DB-02\SRVDB02_2005;Initial Catalog=MobilityPlatform_KenH_Ontw;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>